<header class="header">
  <div class="header__inner">
    <h1>
      <a href="/" class="header__link-logo">
        <span class="header__logo--deco">Vinyl</span>Emporium</a>
    </h1>

    <span>Created by 
      <a class="header__link" href="https://twitter.com/AdrianBeceDev" target="_blank">Adrian Bece</a>

    </span>
  </div>
</header>