.card {
	border: calc(var(--step-0) / 4) solid var(--color-grayscale-3);
	text-decoration: none;
	color: currentColor;
}
.card:visited {
	color: currentColor;
}
.card:hover {
	border-color: var(--color-grayscale-4);
}
.card__subtitle {
	margin-bottom: 0;
}
.card__content {
	padding: 2rem 1rem;
	background-color: var(--color-grayscale-transparent);
	background-size: var(--step--1) var(--step--1);
	flex-grow: 1;
}
