.header {
	background-color: var(--color-grayscale-3);
	margin-bottom: 2rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.header__wrapper {
	display: flex;
	align-items: baseline;
	gap: 0.5rem;
}

.header__inner {
	max-width: 1280px;
	margin: 0 auto;
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.header__link-logo {
	text-decoration: none;
	color: var(--color-grayscale-5);
	-webkit-text-fill-color: currentColor;
	font-style: italic;
	letter-spacing: 0.04rem;
	text-shadow: 4px 4px 0 #000;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #000;
}

.header__logo--deco {
	color: var(--color-primary);
}

.header__link,
.header__link:visited {
	color: var(--color-primary);
	transition: color 0.2s ease;
	text-decoration: none;
	filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 1));
}

.header__link:hover {
	color: var(--color-primary-darker);
}

.home .header__link--dynamic {
	display: none;
}

@supports (view-transition-name: none) {
	.header__link--dynamic {
		view-transition-name: header-link;
	}

	.header h1 {
		view-transition-name: header-title;
	}
}
